
html {
  scroll-behavior: smooth;
}

main {
  top:50%;
  padding-top: 3%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  font-family: 'Raleway', sans-serif;
  outline: 0;
}

p {
  font-family: 'Raleway', sans-serif;
}

.proj_div {
  margin-left: 100px;
  padding-left: 2rem;
}

.proj_index {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-weight: bold;
  padding: 0 0 5px 0;
  color: black;
}

.proj_index:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: black;
  -webkit-transition: all .3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.proj_index:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

#topButton {
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url(../img/back-to-top-icon.jpg);
  background-size: 50px 50px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topButton:hover {
  background-image: url(../img/back-to-top-icon-hover.png);
}

/************Wanderlust*****************/

.wanderContainer {
  text-align: left;
}

.wander_proj {
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/intermediate-javascript-requests/wanderlust/background_photo_desktop.jpg');
  background-size: cover;
  border: 0.3rem outset black;
  border-radius: 5px;
  max-width: 600px;
}

.wander_logo {
  margin: 5px 0 0 5px;
}

.weather {
  position: relative;
  padding: 5px;
}

.weather_h2 {
  position: relative;
  padding: 5px;
}

.container {
  margin: auto;
  visibility: hidden;
}

.weather {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 0.9;
  text-align: left;
  color: #4a4a4a;
}

.weather_h2 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 0.9;
  text-align: left;
  color: #4a4a4a;
}

.weather {
  width: 200px;
  height: 260px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.weathericon {
  width: 150px;
  height: 150px;
}

.venue {
  text-align: center;
  width: 275px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.venueimage {
  margin-top: 20px;
  display:inline-block;
}

#venues {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
  padding-top: 5px;
}

.venues_h2 {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
  padding-top: 5px;
}

#destination {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.9px;
  margin: auto;
  text-align: center;
  color: #27b7c1;
}

.sectiontitle {
  width: 300px;
  align-items: center;
}

.sectiontitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3.4px;
  margin: auto;
  text-align: center;
  color: #4a4a4a;
}

.sectiontitle_h2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3.4px;
  color: #4a4a4a;
  margin: auto;
  text-align: center;
}

#venues {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
}

#weather {
  display: flex;
  justify-content: space-around;
  min-height: 150px;
}

#city {
  width: 286px;
  height: 46px;
  border-radius: 4px;
  border: solid 2.5px #ffffff;
  background-color: inherit;
  opacity: 0.73;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}

.wander_disc {
  height: 700px;
  max-width:500px;
  min-width: 300px;
}

.wander_button {
  width: 140px;
  height: 46px;
  border-radius: 4px;
  background-color: #27b7c1;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 650px) {
  .wander_proj {
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/intermediate-javascript-requests/wanderlust/background_photo_moble.jpg');
  }

  .wanderContainer {
    text-align: center;
  }

  #venues, #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .venue, .weather {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .weather {
    padding: 10px 20px;
    height: 100%;
  }
}
/***********************************/

/********nexTime********************/

.nexTime_container {
  flex-direction: column;
}

.nexTimeProj_div {
  margin-left: 100px;
}


/************SPIDER GRAPH**********/
  .categories,
  .overall,
  li {
      font-family: Raleway, sans-serif;
      background-color: black;;
      border-radius: 10px;
  }
  .in,
  .out,
  .overall,
  li {
      animation-duration: 25s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  .in {
      background-image: url(../img/bggraph.png);
  }
  .thewholething {


  }

  .graphNlabels {
    flex-direction: row;
  }

  .labelContainer {
      width: 270px;
      min-width: 200px;
      position: relative;
      right: -60px;
  }

  li {
      font-size: 18pt;
      padding: 2px 10px 5px;
      margin: 3px;
      width: 130px;
  }

  .label1 {
      color: red;
      width:250px;
  }

  .label2 {
      color: #0ff;
      width:250px;
  }

  .label3 {
      color: #ff0;
      width: 215px;
  }

  .label4 {
      color: #c9c;
      width: 108px;
  }

  .label5 {
      color: #c9c;
      width: 175px;
  }

  li span {
      color: #8D8AD9;
      font-size: 12pt;
  }

  .lang {
    text-align: left;
  }

  .land_score {
    text-align: right;
  }

  .graph-bg {
      width: 300px;
      min-width: 300px;
      height: 300px;
      background-image: url(../img/bggraph.png);
      position: relative;
      right: 80px;
      top: 5px;
  }

  .graphContainer {
      top: 16.5%;
      left: 2.5%;
      margin: auto;
      position: relative;
      width: 200px;
      height: 200px;
  }

  .statform {
      margin: 0 auto;
      width: 180px;
      height: 180px;
      position: absolute;
  }

  .in {
      clip-path: polygon(50% 5%, 3% 98%, 96% 97%);
      background-color: #25486b;
      background-position: 48% 42%;
      animation-name: in-anim;
  }

  .out {
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      background-color: rgba(80, 220, 220, .4);
      animation-name: out-anim;
  }

  li.label1 {
      animation-name: label1-anim;
  }

  li.label2 {
      animation-name: label2-anim;
  }

  li.label3 {
      animation-name: label3-anim;
  }

  li.label4 {
      animation-name: label4-anim;

  }

  li.label5 {
      animation-name: label5-anim;
  }

@keyframes in-anim {
    0%, 100%, 8% {/*JavaScript   */
        background-color: #561034;
        clip-path: polygon(50% 45%, 28% 84%, 74% 85%);
    }
    20% {/* CSS  */
        background-color: #25486b;
        clip-path: polygon(50% 40%, 28% 84%, 66% 82%);
    }
    40% {/* HTML  */
        background-color: #565034;
        clip-path: polygon(50% 40%, 30% 82%, 62% 78%);
    }
    60% {/* PHP  */
        background-color: #3F3971;
        clip-path: polygon(50% 65%, 35% 80%, 74% 85%);
    }
    80% {/* TailWindCSS  */
        background-color: #8D8AD9;
        clip-path: polygon(50% 45%, 28% 84%, 66% 82%);
    }
}
@keyframes out-anim {
    0%, 100%, 8% {/*JavaScript   */
        background-color: red;
        clip-path: polygon(50% 40%, 23% 86%, 79% 88%);
    }
    20% {/* CSS  */
        background-color: #0ff;
        clip-path: polygon(50% 35%, 23% 86%, 69% 84%);
    }
    40% {/* HTML  */
        background-color: #ff0;
        clip-path: polygon(50% 35%, 25% 86%, 65% 79%);
    }
    60% {/* PHP  */
        background-color: #8D8AD9;
        clip-path: polygon(50% 60%, 30% 82%, 79% 88%);
    }
    80% {/* TailWindCSS  */
        background-color: #ff0;
        clip-path: polygon(50% 40%, 23% 86%, 69% 84%);
    }
}
/*JavaScript   */
@keyframes label1-anim {
    0%, 10%, 100% {
        background-color: #DD2941;
    }
    15%,
    90% {
        background-color: black;
    }
}
/* CSS  */
@keyframes label2-anim {
    0%, 10%, 100%, 40% {
        background-color: black;
    }
    20% {
        background-color: #0CBCCC;
    }
}
/* HTML  */
@keyframes label3-anim {
    30%, 65% {
        background-color: black;
    }
    40% {
        background-color: #C9C815;
    }
}
/* PHP  */
@keyframes label4-anim {
    50%, 90% {
        background-color: black;
    }
    55% {
        background-color: #c9c;
    }
}
/* TailWindCSS  */
@keyframes label5-anim {
    0%,67%,100% {
        background-color: black;
    }
    75% {
        background-color: #C9C815;
    }
}
/*^^^^^^^^^^^^SPIDER GRAPH^^^^^^^^^^^^*/

.clicked-button-color {
  color: #00CED1 !important;
}

.aboutHeading {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;

}

.aboutMe {
  width: 300px;
  position: relative;
  right: 60px;
}

.meContainer {
  flex-direction: row;
}

.blurb-container {
  position: relative;
  right: -35px;
  width: 300px;
  top: -10px;
}

#blurb {
  max-width: 200px;
  min-width: 200px;
  text-align: left;
}

.borderTrans {
  border: 4px solid #00CED1;
  padding: 10px;
  border-radius: 100px;
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  background: url("../img/Thief2.jpg") no-repeat;
  background-position: -170% 40%;
  transition: .8s ease;
  right: 10px;
}

.borderTrans:hover {
  border-radius: 0px;
  background-position: 42% 40%;
  transform: border-radius;
  transform: background-position;
}

.borderTransText {
  font-weight: 900;
  opacity: 0;
  transition: 1.5s ease;
}

.borderTrans:hover .borderTransText {
  opacity: 1;
  color: #00CED1;
  text-shadow: 1px 1px black;
  font-size: 16px;
  transform: opacity;
  transition: 0.5s;
}

.border_trans_link:hover {
  color: #008080 !important;
}

.borderTrans:hover .transBorderHead {
  top: 0px;
  left: -50px;
  opacity: 0;
  transform: top;
}

.transBorderHead {
  color: #00CED1;
  position:relative;
  top: 50px;
  left: 0px;
  opacity: 1;
  transition: .8s ease;
}

.attribSymbol {
  animation-name: initImageFlip;
  animation-duration: 2s;
  transition: 2s ease;
}

.preScrollText {
  opacity: 0;
  transition: 5s ;
}

p.attribText {
  opacity: 1 ;
  transform: opacity;
}

.attribContainer1 {
  right: 60px ;
  position: relative;
  animation-name: initImageSlideLeft;
  animation-duration: 2s;
}

.attribContainer2 {
  right: -60px ;
  position: relative;
  animation-name: initImageSlideRight;
  animation-duration: 2s;

}

.attribContainer3 {
  right: 60px ;
  position: relative;
  animation-name: initImageSlideLeft;
  animation-duration: 2s;
}

.attribContainer4 {
  right: -60px ;
  position: relative;
  animation-name: initImageSlideRight;
  animation-duration: 2s;

}

.preScroll {
  right: 0;
  position: relative;
  opacity:0;
}

.attribSymbol:hover {
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: 2s ease;
}

@keyframes initImageFlip {
  0% {transform: scaleX(0);}
  25% {transform: scaleX(-1);}
  75%  {transform: scaleX(0);}
  100% {transform: scaleX(1);}
  }

@keyframes initImageSlideLeft {
  0% {right: -100px;}
  100% {right: 60px;}
  0% {transform: scaleX(0);}
  25% {transform: scaleX(-1);}
  75%  {transform: scaleX(0);}
  100% {transform: scaleX(1);}
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes initImageSlideRight {
  0% {right: -100px;}
  100% {right: -60px;}
  0% {transform: scaleX(0);}
  25% {transform: scaleX(-1);}
  75%  {transform: scaleX(0);}
  100% {transform: scaleX(1);}
  from {opacity: 0;}
  to {opacity: 1;}
}

.logo {
  max-height: 50px;
  max-width: 120px;
  position: relative;
  right: 0px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.attribSymbol {
  width: 300px;
  height: 95px;
}

.attribTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.attribDescription {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.welcomeMsg {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


nav {
  position: relative;
  background-color: black;
  z-index : 1;
  border-color: #00CED1;
  border-radius: 0 0 0.25rem 0.25rem;
}

footer {
  background-color: black;
  z-index : 1;
  border-color: #00CED1;
  border-radius: 0.25rem 0.25rem 0 0;
}

.dude_proj {
  overflow: hidden;
}

.proj_break {
  border-color: #00CED1;
  height: 100px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2300ced1' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.dude {
  border: 0.3rem outset black;
  border-radius: 5px;
}

.navbar1_pic {
  border: 0.3rem outset black;
  border-radius: 5px;
  min-width: 330px;
}

.nexTimeSplash_pic{
  border: 0.3rem outset black;
  border-radius: 5px;
  max-width: 330px;
}

.codepen_disc {
  max-width: 600px;
}

.copyright {
  width: 200%;
}

/*STICKY NAV BAR*/
.my-sticky {
  position: sticky;
  top: 0;
}

.buttonCustom {
  color: white;
}

.footerlinks {
width: 10%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip_text {
  visibility: hidden;
  width: 50px;
  background-color: #1f2021;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top:-22px;
  left: -40px;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: opacity;
  transition: .3s ease;
}

.overlay_container {
  position: relative;
}

.logoContainer {
  position: absolute;
  right: 0px;
}

.overlay_container:hover .overlay {
  opacity: 0.5;
  transform: opacity;
}

.logoContainer:hover .overlay {
  opacity: 0.5;
  transform: opacity;
}

.logo:hover .overlay {
  opacity: 0.5;
  transform: opacity;
}

.buttonCustom:focus {
    outline: 0;
}

.menuButton {
  border-width: 1px;
  border-color:black;
  border-radius: 50px 20px;
  background: url("../img/hoverbuttonBlackBluTop.jpg") no-repeat;
  font-family: 'Raleway', sans-serif;
  color: white;
  opacity: 1;
  background-position: 0% 60%;
  transition:background-position 0.3s ease;
  display: none;
  outline: 0;
}

.menuButton.menuClicked {
  background-position: 0% -75%;
}

.menuLabel {
  font-family: 'Raleway', sans-serif;
  color: white;
  opacity: 1;
  position: relative;
  top: 7px;

}

.menuLabel:focus {
    outline: 0;
}


.btnCover {
  position: relative;
  opacity: 0;
  outline: 0;
}


.dropdown {
  position: relative;
  display: inline-block;
  border-color: #00CED1;
  border-radius: 50px 20px;
  display: none;
}

.dropdown-container {
  top: 30px;
  left: -20px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 135px;
  padding: 12px 16px;
  height: 0px;
  transition: height 0.3s ease-out;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dropdown-container.visible {
  height: 125px;
  border-bottom: 4px solid #00CED1;
  border-radius: 0.25rem;

}

 @media only screen and (max-width:1104px) {

   .wanderContainer {
     text-align: center;
   }

   .wander_proj {
     background-image: url('https://s3.amazonaws.com/codecademy-content/courses/intermediate-javascript-requests/wanderlust/background_photo_moble.jpg');
     text-align: center;
   }

}

@media only screen and (max-width:1023px) {

}

@media only screen and (max-width:910px) {

  .wander_div {
    flex-direction: column;
  }

  .wander_disc {
    height: 300px;
  }
}

@media only screen and (max-width:840px) {
  /* For mobile phones: */
  main {
    padding-top: 10%;
    width: 100%;
  }

  .proj_div, .nexTimeProj_div {
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0rem;
  }

  #topButton {
    background-image: url(../img/back-to-top-icon-hover.png);
  }

}


@media only screen and (max-width:768px) {
  /* For mobile phones: */
  nav {
    position:relative; left:0%;
    padding-top: 7%;
    padding-bottom: 6%;
  }

  .menuButton {
    display: inline-block;
  }

  .welcomeMsg {
    font-size: 30px;
  }

  .copyright {
    width: 150%;
  }
  .attribContainer1 {
    right: 0px ;
    position: relative;
    animation-name: initImageSlideLeft;
    animation-duration: 2s;
  }

  .attribContainer2 {
    right: 0px ;
    position: relative;
    animation-name: initImageSlideRight;
    animation-duration: 2s;

  }

  .attribContainer3 {
    right: 0px ;
    position: relative;
    animation-name: initImageSlideLeft;
    animation-duration: 2s;

  }

  .attribContainer4 {
    right: 0px ;
    position: relative;
    animation-name: initImageSlideRight;
    animation-duration: 2s;

  }

  @keyframes initImageSlideLeft {
    0% {right: -100px;}
    100% {right: 0px;}
    0% {transform: scaleX(0);}
    25% {transform: scaleX(-1);}
    75%  {transform: scaleX(0);}
    100% {transform: scaleX(1);}
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes initImageSlideRight {
    0% {right: -100px;}
    100% {right: 0px;}
    0% {transform: scaleX(0);}
    25% {transform: scaleX(-1);}
    75%  {transform: scaleX(0);}
    100% {transform: scaleX(1);}
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .meContainer {
    position: relative;
    right: 0px;
  }

  .aboutMe {
    position: relative;
    right: 0px;
  }

  .blurb-container {
    position: relative;
    right: 15px;
    top: -10px;
  }

  .graphNlabels {
    position: relative;
    right: 0px;
  }

  .graph-bg {
    position: relative;
    right: 20px;
  }

  .labelContainer {
    position: relative;
    right: -10px;
  }
}

@media only screen and (max-width:604px) {

  .meContainer {
    flex-direction: column;
  }

  .graphNlabels {
    flex-direction: column;
  }

  #blurb {
    text-align: center;
  }

  .graph-bg {
    position: relative;
    right: 0px;
    top: 0px;
  }

  .blurb-container {
    position: relative;
    right: 5px;
    top: 0px;
  }
}

@media only screen and (max-width:420px) {
  /* For mobile phones: */
  .buttonCustom {
    font-size: 0.878rem;
    opacity: 0;
    display:none;
  }

  .welcomeMsg {
    font-size: 25px;
  }

  .copyright {
    width: 75%;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-container{
    width: 420px;
  }

  .graphNlabels {
    left: 0;
  }

  .graph-bg {
    position: relative;
    right: 0px;
    top:05px;
  }

  .my-sticky {
    position: fixed;
    top: 0;
}
